.outputContainer {
    margin-top: 1rem;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 42px 2rem 1fr auto;
}

.outputContainer > input {
    display: none;
}

.outputContainer > label {
    cursor: pointer;
    width: 42px;

}

.outputIndex{
    width: 1.5rem;
    height: 1rem;
}