.main {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(41, 41, 41);
    border: 10px solid rgb(124, 124, 124);
    border-top: 0px;
    box-shadow: 31px 40px 88px -24px rgba(0,0,0,0.66),10px 10px 32px 0px rgba(0,0,0,0.35);
    padding-bottom: 2rem;
    position: relative;
    overflow: hidden;
}

.bodyContainer {
    width: 100%;
    height:100%;
    padding-bottom: 1rem;
    overflow-y: auto;
}

.windowBar {
    width: 100%;
    height: 25px;
    background-color: rgb(124, 124, 124);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.btn-container {
    display: flex;
    align-items: stretch;
}

.btn-min,
.btn-max,
.btn-X {
    width: 25px;
    height: 25px;
    background-color: rgb(73, 73, 73);
}

.btn-min,
.btn-max {
    font-size: 1.2rem;
}

.btn-min {
    background-color: rgb(151, 151, 151);
}

.btn-X {
    font-size: .9rem;
    background-color: brown;
}

.header {
    padding: 0 2rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    text-align: center;
}